/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#backlog .card {
    cursor: move;
    width: 230px;
    background-color: #34aadc;
    margin: 3px;
    padding: 5px;
    cursor: move;
    color: #fff;
    font-size: 12px;
}

#backlog .card header {
    color: #fff;
    padding: 5px;
    background-color: #dce6f3;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

#backlog .card.userstory {
    background-color: #269df4;
}

#backlog .card.task {
    background-color: #37cef9;
}

#backlog .card.bug {
    background-color: #97e6fb;
}

#backlog .card.over {
    border: 1px dashed #000;
}

#taskboard .card {
    margin: 3px;
  /*
  margin-left: auto;
  margin-right: auto;
  */
    float: left;
    font-size: 12px;
}

#taskboard.card.story.over {
    border: 1px dashed #000;
}

#taskboard .card.task {
    cursor: move;
    height: 95px;
    width: 130px;
    background-color: #ffcc00;
    color: black;
    font-weight: 300;
}

#taskboard .card.story {
    height: 110px;
    width: 140px;
    background-color: #56d568;
    color: black;
}

#taskboard .card header {
    padding: 5px;
    /*
    background-color: #cecece;
    border-bottom: 1px solid #ddd;
    */
    border-top-right-radius: 4px;
}

#taskboard .card.task.impediment {
    background-color: #e93f33;
}

#taskboard .cell.over {
    border: 1px dashed #000;
    background-color: #f1f1f1;
}

#taskboard .cell {
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}

#taskboard .cell.over * {
    pointer-events: none;
}

#taskboardtable {
    /*border: 2px solid #fff;*/
    background-color: white;
}

.taskboardtarget {
    border: 1px dashed #000;
    background-color: black;
}

.taskboardover {
    border: 1px dashed green;
}

.backlogtarget {
    border: 1px dashed #000;
}

.backlogover {
    border: 1px dashed green;
}
